<div class="rb">
{{#each id}}
<div class="randomBeer">
    {{>beerpartial this}}
</div>
    <div>
    {{#each this.food_pairing}}
     <p>FP:{{this}}</p>
    {{/each}}
    <p>BREWER TIPS{{this.brewer_tips}}</p>
{{/each}}
</div>
</div>