<div class="rb">
{{#each id}}
<div class="randomBeer">
    {{>beerpartial this}}
</div>
    <div>
    {{#each this.food_pairing}}
     <p>{{this}}</p>
    {{/each}}
    <p>{{this.brewers_tips}}</p>
{{/each}}
</div>
</div>